@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,700|Roboto:400,500');
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}
body{
	/*background-color: #e2e2e2;*/
	height: 100vh;
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/graphy.png); 
	background-attachment: fixed;
}
/*TEXT STYLES*/
h1{
	color: #274a54;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 44px;
	line-height: 0px;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
}
a{
	text-decoration: none;
	color: inherit;
	display: block;
}
/*MAIN NAV CONTENT*/
nav{
	padding: 10px 20px 10px 30px;
	position: fixed;
}
.navHome{
	display: inline-block;
	margin-right: 10px; 
}
.navButtons{
	display: inline-block;
	margin: 0px 20px 10px 20px;
	position: relative;
	top: 10px;
	padding: 0px 10px 0px 10px;
	line-height: 0px;
}
.navButtons a{
	position: absolute;
	display: block;
	margin: 0 auto;
	top: 1px;
	z-index: 999;
}
.colorBack{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-color: #e8b8a8;
	z-index: 1;
}
#uxD{
	height: 26px;
	width: 94px;
	padding-left: 7px;
}
#userR{
	height: 26px;
	width: 137px;
	padding-left: 8px;
}
#arch{
	height: 26px;
	width: 130px;
	padding-left: 8px;
}
#graphic{
	height: 26px;
	width: 81px;
	padding-left: 6px;
}
#uxDBack{
	height: 15px;
	width: 82px;
}
#userRBack{
	height: 15px;
	width: 125px;
}
#archBack{
	height: 15px;
	width: 117px;
}
#graphicBack{
	height: 15px;
	width: 70px;
}

/*HOVER ACTIONS*/

.navHome h1:hover{
	color: #d44229;
}
.navButtons h2:hover{
	transform: scale(1.15);
	transform-origin: bottom right;
	transition: transform .1 ease-in-out;
}

/*SIDEBAR CONTENT*/
.sideBarButton{
	position: fixed;
	right: 35px;
	top: 25px;	
	background-color: transparent;
	border: 2px solid #5d3c44;
	padding: 6px 5px 2px 5px;
	height: 34px;
	width: 35px;
	z-index: 999;
}

.active .sideBarIcon{
	margin-right: 0px;
}

.sideBarIcon:hover,
.sideBarIcon:active,
.sideBarIcon:focus{
  outline: 0;
}

.line:nth-child(1){
  top: 7px;
}

.line:nth-child(2){
  top: 14px;
}

.line:nth-child(3){
  top: 21px;
}

.line{
  width: 16px;
  height: 2px;
  background: #5d3c44;
  border-radius: 15px;
  position: absolute;
  opacity: 1;
  transition: all .3s ease-in-out;
  right: 7px;
  z-index: 999;
}

.active .line{
	transition: all .3s ease-in-out;
}

.active .line:nth-child(1){
  transform: translateY(7px) rotate(135deg);
}

.active .line:nth-child(2){
  opacity: 0;
  transform: translateX(-16px);
}

.active .line:nth-child(3){
  	transform: translateY(-7px) rotate(-135deg);
}

.sideBarProjects{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 36px;
	color: black;
	position: fixed;
	right: -300px;
	top: 25px;
	height: 450px;
	width: 300px;
	z-index: 999;
	padding: 35px 0px 35px 0px;
	opacity: 0;
}

.sideBarHighlight{
	width: 100%;
}

.sideBarHighlight:hover{
	color: white;
	background-color: #5d3c44;
	width: 100%
}

.sideBarHighlight:before{
	position: absolute;
	height: 100%;
	width: 0px;
	content: '';
	background-color: #5d3c44;
	transition: all 0.25s ease-in-out;
}

.sideBarHighLight:hover:before{
	width: 100%;
}


.projectTextShow{
	position: fixed;
	right: 35px;
	top: 25px;
	opacity: 1;
	transition: opacity 1s ease-in-out 1.2s;
}

.sideBarBackground{
	position: fixed;
	right: 35px;
	top: 25px;
	height: 34px;
	width: 35px;
	background-color: tranparent;	
	z-index: 1;
}

.sideBarMenuOpen{
	height: 450px;
	width: 300px;
	background-color: #ede3e6;
	border: 2px solid #5d3c44;
	transition: background-color .1s ease-in-out, width .3s ease-in-out .2s, height .5s ease-in .7s;
}

.sideBarMenuClose{
	height: 34px;
	width: 35px;
	background-color: transparent;
	transition: height .5s ease-in, width .3s ease-in-out .5s, background-color .1s ease-in-out .8s;
}

/*CONTENT STUFF*/
main{
	position: fixed;
	width: 2237px;
	left: 0px;
	top: 79px;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 90vh;
}
.scrollContent{
	display: flex;
}
.box{
	display: inline-block;
	width: 555px;
}
.intro{
	position: absolute;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	line-height: 36px;
	background-color: #e2c5ae;
	color: black;
	font-size: 44px;
	padding: 4px 10px 10px 10px;
	top: 173px;
	left: -142px;
	z-index: 2;
	box-shadow: 3px -3px 2px 1px rgba(0, 0, 0, 0.2);
	transform: rotate(90deg);
}
.definition{
	position: absolute;
	display: block;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	padding: 50px;
	background-color: white;
	color: #246b86;
	width: 500px;
	height: 335px;
	font-size: 18px;
	top: 275px;
	left: 57px;
	z-index: 1;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
	border: 2px solid black;
}
.project{
	display: inline-block;
	text-align: right;
	margin: 25px 0px 0px 30px;
	line-height: 0px;
	height: 655px;
}

.project p{
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.project h1{
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 36px;
	line-height: 24px;
	color: #5d3c44;
	text-align: left;
}
.project h2{
	text-align: left;
}

.imageFill{
	display: block;
	vertical-align: top;
	height: 350px;
	width: 518px;
	left: 0px;
	top: 0px;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.imageFill:hover{
	cursor: pointer;
}

.imageLargeSize{
	height: 655px;
	width: 970px;
	transition: all 0.5s ease-in-out;
}
.imageSmallSize{
	height: 350px;
	width: 518px;
	transition: all 0.5s ease-in-out;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}